<section class="main">
	<div class="container">
		<header>
			<h1>Admin links</h1>
		</header>
		<nav class="main-nav">
			<%= link_to "Create an Invitation", new_invitation_path %>
			<%= link_to "Show RSVPs", attendees_path %>
			<%= link_to "Mailing List", mailing_list_path %>
		</nav>
	</div>
</section>