<section class="main" id="when">
	<div class="container">
		<header>
			<h1>WHEN</h1>
		</header>
		<div id="time">
			<span id="short-time">10:30 AM</span>
		</div>
		<div id="date">
			<span id="day">14</span>
			<span id="month">April</span>
			<span id="year">2013</span>
		</div>
  </div>
</section>

<section class="main" id="where">
	<div class="container">
		<header>
			<h1>WHERE</h1>
		</header>
		<div id="pink-house">
			The Olde Pink House
		</div>
		<span id="address">
			23 Abercorn St <br />
			Savannah, GA 31401 <br />
		</span>
		<%= image_tag "pinkhouse.jpeg", options = {alt: "The Olde Pink House", id: "pink-house-image" } %>
		<a href="http://maps.google.com/maps?q=23+Abercorn+St++Savannah,+GA+31401&hl=en&ll=32.079502,-81.089144&spn=0.016272,0.011866&sll=42.036922,-71.683501&sspn=3.471732,3.03772&hnear=23+Abercorn+St,+Savannah,+Georgia+31401&t=m&z=16">Google Map</a>
</div>
</section>

<section class="main" id="how">
	<div class="container">
		<header>
			<h1>HOW</h1>
		</header>
	</div>
</section>

<section class="main" id="registry">
	<div class="container">
		<header>
			<h1>REGISTRY</h1>
		</header>
			<p>We are registered at <a href="http://www.amazon.com/gp/registry/registry.html/ref=wr_ov?ie=UTF8&msg=how-others-see-list-info&type=wedding&visitor-view=1">Amazon</a></p>
			<iframe src="http://www.amazon.com/gp/registry/registry.html/ref=wr_ov?ie=UTF8&msg=how-others-see-list-info&type=wedding&visitor-view=1">epic fail</iframe>
	</div>
</section>