<section class="main" id="hotels">
	<div class="container">
		<header>
			<h1>Hotels</h1>
		</header>
		<section>
			<header>
				<h1>Reserved Blocks</h1>
			</header>
			<ul>
				<li>
					<strong>Marriot</strong>
					<div>Street Address <br /> City/State/Zip</div>
					<div>Price</div>
				</li>
				<li>
					<strong>Holiday Inn Express</strong>
					<div>199 East Bay Street <br /> Savannah, GA 31401</div>
					<div>$200/night</div>
				</li>
				<div class="clear"></div>
			</ul>
		</section>
	</div>
</section>