<div class="menu">
  <section class="main">
    <div class="container">
      <header>
        <h1>Hors D'Oeuvres</h1>
      </header>
      <article>
        Will be passed during the cocktail hour:
        <ul>
          <li>Crab Cakes</li>
          <li>Beef Tenderloin</li>
          <li>Fried Green Tomatoes</li>
        </ul>
      </article>
    </div>
  </section>
  <section class="main">
  	<div class="container">
      <header>
        <h1>First Course</h1>
      </header>
      <article>
        Choose One:
        <ul>
          <li>She-Crab Soup</li>
          <li>Salad</li>
          <li>Something else</li>
        </ul>
      </article>
    </div>
  </section>
  <section class="main">
    <div class="container">
      <header>
        <h1>Main Course</h1>
      </header>
      <article>
        Choose One:
        <ul>
          <li>Scored Flounder</li>
          <li>Almond Crusted CHicken</li>
          <li>Braised Pork Shank</li>
        </ul>
      </article>
    </div>
  </section>
  <section class="main">
    <div class="container" id="dessert">
      <header>
        <h1>Dessert</h1>
      </header>
        <%= image_tag "portal_cake.jpg", id: "front-cake" %>
        <%= image_tag "portal_cake_lie.jpg", id: "back-cake" %>
    </div>
  </section>
</div>