<div class="menu">
  <section class="main">
    <div class="container">
      <header>
        <h1>Hors D'Oeuvres</h1>
        <h2>Will be passed during the cocktail hour:</h2>
      </header>
      <article>
        <ul>
          <li>Crab Cakes</li>
          <li>Beef Tenderloin</li>
          <li>Fried Green Tomatoes</li>
        </ul>
      </article>
    </div>
  </section>
  <section class="main">
  	<div class="container">
      <header>
        <h1>First Course</h1>
        <h2>Choose One:</h2>
      </header>
      <article>
        <ul>
          <li>Lowcountry She-Crab Soup</li>
          <li>BLT Salad</li>
          <li>Baby Greens Salad</li>
        </ul>
      </article>
    </div>
  </section>
  <section class="main">
    <div class="container">
      <header>
        <h1>Main Course</h1>
        <h2>Choose One:</h2>
      </header>
      <article>
        <ul>
          <li>Scored Flounder</li>
          <li>Pecan Crusted Chicken Breast</li>
          <li>Braised Pork Shank</li>
          <li>Caramelized Vidalia Onion and Sweet Potato Ravioli</li>
        </ul>
      </article>
    </div>
  </section>
  <section class="main">
    <div class="container" id="dessert">
      <header>
        <a href="#dessert"><h1>Dessert</h1></a>
      </header>
        <%= image_tag "portal_cake.jpg", id: "front-cake" %>
        <%= image_tag "portal_cake_lie.jpg", id: "back-cake" %>
    </div>
  </section>
</div>