<%= javascript_include_tag "program.js" %>
<section id="program">
  <header>
    <h1>Order of Ceremonies</h1>
  </header>
  <section id="warning">
  </section>
  <section class="program-container">
    <section>
      <header>
        <h1>Ceremony</h1>
        <time datetime="2013-04-14 10:30">10:30 AM</time>
      </header>
      <ol>
        <li><%= link_to "Prelude", "/how/music" %>
          <ul>
            <li>Gabrieli: Canzon per sonare #2</li>
            <li>Bozza: Sonatine</li>
            <li>Arutunian: Armenian Scenes</li>
          </ul>
        </li>
        <li>Welcome</li>
        <li>Readings</li>
        <li>Vows</li>
        <li>Rings</li>
        <li>Kiss</li>
        <li><%= link_to "Postlude", "/how/music" %></li>
      </ol>
    </section>
    <section>
      <header>
        <h1>Cocktail Hour</h1>
        <time datetime="2013-04-14 11:30">11:30 AM</time>
      </header>
      <ol>
        <li>Drinks</li>
        <li>Socializing<aside>Try to talk to someone you don't already know</aside></li>
      </ol>
    </section>
    <section>
      <header>
        <h1>Reception</h1>
        <time datetime="2013-04-14 12:30">12:30 PM</time>
      </header>
      <ol>
        <li>Seats are assigned</li>
        <li><%= link_to "Lunch will be served", "/how/menu" %></li>
        <li>Speeches and such</li>
      </ol>
    </section>
    <section>
      <header>
        <h1>End</h1>
        <time datetime="2013-04-14 15:30">3:30 PM</time>
      </header>
      <ol>
        <li>Thank you for coming!</li>
      </ol>
    </section>
  </section>
</section>