<section id="refereces">
  <header>
    <h1>References and Attributions</h1>
  </header>
  
  <section>
    <header>
      <h1>Quotes</h1>
    </header>
    <blockquote>
      <p>“When a man cannot chose, he ceases to be a man.” </p>
      <cite>Anthony Burgess, <em>A Clockwork Orange</em></cite>
    </blockquote>
    <blockquote>
      <p>In this galaxy there’s a mathematical probability of three million Earth-type planets. And in the universe, three million million galaxies like this. And in all that, and perhaps more...only one of each of us.</p>
      <cite>Dr. McCoy, <em>Star Trek, Balance of Terror</em></cite>
    </blockquote>
    <blockquote>
      <p>Someone once told me that time was a predator that stalked us all our lives. I rather believe that time is a companion who goes with us on the journey and reminds us to cherish every moment, because it will never come again. What we leave behind is not as important as how we've lived. After all Number One, we're only mortal.</p>
      <cite>Captain Picard, <em>Star Trek: Generations</em></cite>
    </blockquote>
    <blockquote>
      <p>'But I don't want comfort. I want God, I want poetry, I want real danger, I want freedom, I want goodness, I want sin.'</p>
      <p>'In fact,' said Mustapha Mond, 'you're claiming the right to be unhappy.'</p>
      <p>'All right then,' said the Savage defiantly, 'I'm claiming the right to be unhappy. Not to mention the right to grow old and ugly and impotent; the right to have syphilis and cancer; the right to have too little to eat; the right to be lousy; the right to live in constant apprehension of what may happen tomorrow; the right to catch typhoid; the right to be tortured by unspeakable pains of every kind.'</p>
      <p>There was a long silence. 'I claim them all,' said the Savage at last.</p>
      <p>Mustapha Mond shrugged his shoulders. "You're welcome," he said.” </p>
      <cite>Aldous Huxley, <em>Brave New World</em></cite>
    </blockquote>
    <blockquote>
      <p>If you can't take a little bloody nose, maybe you oughtta go back home and crawl under your bed. It's not safe out here. It's wondrous, with treasures to satiate desires both subtle and gross; but it's not for the timid.</p>
      <cite>Q, <em>Star Trek: The Next Generation, Q Who?</em></cite>
    </blockquote>
  </section>
  <section>
    <header>
      <h1>References</h1>
    </header>
    <article>
      <header>
        <h1>Predestined Soul Mates</h1>
      </header>
      <p>The math involving a pre-destined soulmate was done by Randall Munroe as part of the What-If? series on xkcd. The article in question can be found at <a href="http://what-if.xkcd.com/9/">http://what-if.xkcd.com/9/</a>.
    </article>
    <article>
      <header>
        <h1>To Boldy Go</h1>
      </header>
      <p>This is a reference to the opening lines of the <em>Star Trek</em> and <em>Star Trek: The Next Generation</em> series. The originals are reprinted below:</p>
      <blockquote>
        <p>Space: The final frontier<br />
            These are the voyages of the Starship, Enterprise<br />
            Its 5 year mission:<br />
            To explore strange new worlds<br />
            To seek out new life and new civilizations<br />
            To boldly go where no man has gone before.
        </p>
        <cite>Captain Kirk, <em>Star Trek</em></cite>
      </blockquote>
      <blockquote>
        <p>Space... the Final Frontier.<br />
           These are the voyages of the starship Enterprise.<br />
           Its continuing mission: <br />
           to explore strange new worlds, <br />
           to seek out new life and new civilizations,<br />
           to boldly go where no one has gone before.
        </p>
        <cite>Captian Picard, <em>Star Trek: The Next Generation</em></cite>
      </blockquote>
    </article> 
    <article>
      <header>
        <h1>Two Rings</h1>
      </header>
      <p>Two Rings is a reference to the One Ring Of Power from JRR Tolkien's <em>Lord of the Rings</em>:</p>
      <blockquote>
        Three Rings for the Elven-kings under the sky,<br />
        Seven for the Dwarf-lords in their halls of stone,<br />
        Nine for Mortal Men doomed to die,<br />
        One for the Dark Lord on his dark throne<br />
        In the Land of Mordor where the Shadows lie.<br />
        One Ring to rule them all, One Ring to find them,<br />
        One Ring to bring them all and in the darkness bind them<br />
        In the Land of Mordor where the Shadows lie.
        <cite>Tolkien, <em>Lord of the Rings</em></cite>
      </blockquote>
  </section>
  <div><%= link_to "Back to Program", program_path %>
</section>