<div class="us">
	<section class="main">
		<div class="container">
			<header>
				<h1>The Bride and Groom</h1>
			</header>
			
		</div>
	</section>
	
	<section class="main">
		<div class="container">
			<header>
				<h1>Our (curated) Families</h1>
			</header>
			
		</div>
	</section>
</div>