<section class="main">
	<div class="container">
		<header>
			<h1>Find your Invitation</h1>
		</header>
		<p>
			Please use the name on the front of the envelope to find your invitation. Keep in mind that your invitation can be associated with multiple people; however, only the name in the address block of the envelope is indexed here.
		</p>
    <%= render 'shared/invitations_search' %>
	</div>
</section>
	
<section class="main">
	<div class="container">
		<%= render 'shared/invitations', invitations: @invitations%>
	</div>
</section>