<section class="main">
  <div class="container">
    <header>
      <h1>Edit Invitation for <%= @invitation.principal_name %></h1>
    </header>
    <%= render 'invitation_form', invitation: @invitation %>
  </div>
</section>